@model IEnumerable<SocialService.ServiceLogic.ViewModels.FriendsView>
<input type="hidden" id="userName" value="@User.Identity.Name" />
<p>Welcome to FoF</p>
<div id="listFriends"></div>
<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="~/js/friendsOfFriends.js"></script>
