@model IEnumerable<SocialService.ServiceLogic.ViewModels.FriendsView>

@{
    ViewData["Title"] = "Home Page";
}

@if (User.Identity.IsAuthenticated)
{
    <p>@User.Identity.Name</p>

    <form method="post" asp-controller="Account" asp-action="LogOff">
        <input type="submit" value="Logout" />
    </form>
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
    <div>
        <div class="bg-white">
            <input type="submit" id="showFriends" value="Show Friends" />
        </div>
        <br />
        <h2>Add Friend</h2>

        <input type="text" name="name" id="nameFriend" /><br /><br />
        <input type="text" name="email" id="emailFriend" /><br /><br />
        <input type="text" name="phone" id="phoneFriend" /><br /><br />
        <input type="submit" id="createFriend" value="Create Friend" /><br />
    </div>

    <input type="hidden" value="@User.Identity.Name" id="userName" />

    <div id="list-friends"></div>
}
else
{
    <a asp-controller="Account" asp-action="Login">Login</a>
    <a asp-controller="Account" asp-action="Register">Register</a>
}

<div id="myModal" class="modal" style="display:none;position:center">

    <div class="modal-content" style="width:200px">
        <span class="close" onclick="Close()">&times;</span>
        <h2>Edit Friend</h2>
        <input type="hidden" name="id" id="idEdit" />
        <label>Name</label>
        <input type="text" name="name" id="nameEdit" /><br />
        <label>Email</label><br />
        <input type="text" name="email" id="emailEdit" /><br />
        <label>Phone</label><br />
        <input type="text" name="phone" id="phoneEdit" /><br />
        <input type="button" id="submitEdit" value="Edit" onclick="EditFriend()" /><br />
    </div>

</div>
<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="~/js/index.js"></script>

